<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ selectedPlace.title }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon name="close">Cancel</ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <p>{{selectedPlace.description}}</p>
  <ion-button color="primary" (click)="onBookPlace()">Book!</ion-button>

</ion-content>