<ion-item [routerLink]="['/', 'places', 'tabs', 'offers', offer.id]">
  <ion-thumbnail slot="start">
    <ion-img [src]="offer.imgUrl"></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h1>{{ offer.title }}</h1>
    <div class="offer-details">
      <ion-icon name="calendar" color="primary"></ion-icon>
      <ion-text color="secondary" class="space-left">{{ getDummyDate() | date}}</ion-text>
      <span class="space-left">to</span>
      <ion-icon name="calendar" color="primary"></ion-icon>
      <ion-text color="secondary" class="space-left">{{ getDummyDate() | date}}</ion-text>
    </div>
    <!-- <p>{{ offer.description }}</p> -->
  </ion-label>
</ion-item>